<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatSample</title>
    <p><%= @chatview %></p>
</head>

<body>
    <!--自分やユーザの情報-->
    <h3 id="me" user_id="1"><%= @_current_user.user_name %></h3>
    <h3 id="partner" thread_id="1">相手</h3>
    <div id="users">
        <button class="user" user_id="2">ユーザー２</button>
    </div>
    <br>
    <div id="your_container">

        <!-- チャットの外部部分① -->
        <div id="bms_messages_container">
            <!-- ヘッダー部分② -->
            <div id="bms_chat_header">
                <!-- ステータス -->
                <div id="bms_chat_user_status">
                    <!-- ステータスアイコン -->
                    <div id="bms_status_icon">●</div>
                    <!-- ユーザー名 -->
                    <div id="bms_chat_user_name">ユーザー</div>
                </div>
            </div>


            <!-- タイムライン部分③ -->
            <div id="bms_messages">
                <% @chat_messages.each do |chat_message| %>
                    <% if @_current_user.user_name == chat_message.user_id then %>
                    <!-- メッセージ２（右側）-->
                    <div class="bms_message bms_right">
                        <div class="bms_message_box">
                            <div class="bms_message_content">
                                <div class="bms_message_text"><%=chat_message.body%></div>
                            </div>
                        </div>
                    </div>
                    <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはCSSで充てる）-->
                    <% else %>
                    <!-- メッセージ１（左側）-->
                    <div class="bms_message bms_left">
                        <div class="bms_message_box">
                            <div class="bms_message_content">
                                <div class="bms_message_text"><%=chat_message.body %></div>
                            </div>
                        </div>
                    </div>
                    <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはCSSで充てる）-->
                    <% end %>
                <% end %>
                


            </div>

            <!-- テキストボックス、送信ボタン④ -->
            
            <div id="bms_send">
              <form>
                <label> 
                  <input id="chat_speak" type="text" name="message" data-behavior="speak_chat_messages">
                  <input id="user_id" type="hidden" name="user_id" data-behavior="speak_chat_messages" value=<%= @_current_user.user_name %>>
                  <!--ここにログインしているuser_idをいれてフォームを送信できるようにする -->
                  <div id="bms_send_btn">送信</div>
                </label>
              </form>
            </div>
        </div>
    </div>
</body>
</html>

